/* ==========================================================================
    [Table of contents]

    1. BASE
        1.1 Page Rendering Defaults
        1.2 User Experience Adjustments
        1.3 Core Styling
    2. LAYOUT
        2.1 Core Layout
        2.2 main nav mobile first
        2.3 Small only
        2.4 medium and up
            2.4.1 medium and up main navigation
        2.5 Medium only
        2.6 large screens and up
        2.7 Large only
        2.4 Core Article
    3. MODULES
        3.1 page-slider
        3.2 project portfolio item
    4. STATES
    5. THEME
        5.1 main nav colours & icons
    6. UTILITIES
    6. PRINT

    ========================================================================== */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-family: 'Open Sans',Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: 1.4;
  }

  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  img {
    width: 100%;
  }
  
  h1 {
    color: black;
  }
  
  
  /* ==========================================================================
     LAYOUT
     ========================================================================== */

  .column{
      position: relative;
  }

  .row {
      display: grid;
      row-gap: 1rem;
      margin: 0 1rem 3rem 1rem;
  }

  .row-no-margin{
      margin-bottom: 0 !important;
  }

  .heading{
      font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 2rem;
  }

  .tagline{
      margin-top: -0.8rem;
      font-size: 0.7rem;
      text-align: center;
      color: rgb(128, 128, 128);
  }
 
  .logo{
      max-height: 2.5rem;
      max-width: 12rem;
      position: absolute;
      bottom: 0.4rem;
      
  }

  .main-nav{
      display: none;
      flex-direction: column;
      align-items: center;
  }

  .main-nav__item{
      display: block;
      position: relative;
      width: 100%;
      padding: 1rem 1rem 1rem 100%;
      font-size: 1.3rem;
      text-decoration: none;
      text-align: left;
      color: white;
      line-height: 4rem;
      background-repeat: no-repeat;
      background-position-x: 44%;
      background-position-y: center;
      background-size: 3.1rem, 1.7rem;
  }

  .main-nav__item::after {
      content: ">";
      display: inline-block;
      position: absolute;
      right: 1rem;
  }

  .main-nav__item.active::after {
      content: ""
  }

  .flickr .sub-grid img{
    width: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
    object-fit: cover;
  }


  /*Smallonly*/
  
  @media screen and (max-width:39.9375em) {
    .logo{
        max-height: 3rem;
        position: static;
        margin-top: 1rem;
    }
    .s-hide {
        display: none;
    }
    .main-nav__item::after {
        display: inline-block;
        position: static;
        padding-left: 1rem;
    }
    .s-show{
        display: flex;
    }
    .mobile-nav {
        background-image: url(../img/icon/bars.svg);
        background-repeat: no-repeat;
        background-size: 1.8rem;
        background-position: center center;
        background-color: #2a6eeb;
        position: absolute;
        right: 1rem;
        top: 0rem;
        z-index: 1;
        font-size: 0rem;
        padding: 1.5rem;
        margin-top: 0.5rem;
    }
  }
  .about .flex{
    display: flex;
    align-items: center;

  }
  .about-icon{
    width:4.5rem;
    height: 4.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .subheading{
    text-align: left;
    margin-bottom: 0.4rem;
    font-size: 18px;
  }
  .about-content p{
    margin: 0;
    color: rgb(128, 128, 128);
  }
  
  
  /*Mediumandup*/
  
  @media screen and (min-width:40em) {
    
    .row {
      width: 85vw;
      max-width: 70rem;
      margin: 0 auto 3rem auto;
      column-gap:   1.5rem;
      row-gap: 1.5rem;
    }

    .sub-grid{
        display: grid;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }
    .sub-grid-social{
      display: grid;
      column-gap: 0.2rem;
      row-gap: 0.5rem;
    }
    .sub-grid-social img{
      max-width: 3rem;
      max-height: 3rem;
    }

  
    .m-col-2 {
      grid-template-columns: 1fr 1fr;
    }
    .m-col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .m-col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .m-1-2{
      grid-template-columns: 1fr 2fr;
    }
  
    .row-span {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .main-nav{
        display: flex;
        flex-direction: row;
    }
    .main-nav__item{
        padding: 4rem 1rem 0rem 0.5rem;
        line-height: 2rem;
        font-size: 0.8rem;
        text-align: left;
        background-color: rgb(184, 184, 184);
        background-position-x: center ;
        background-position-y: center ;
        background-size: 2.3rem, 1.4rem;
    }

    .about .flex{
      display: flex;
      align-items: center;
      flex-direction: column;
  
    }
    .about-content{
      text-align: center;
    }
    .subheading{
      text-align: center;
      margin-bottom: 1rem;
    }

    .about-icon{
      width:6rem;
      height: 6rem;
      margin-right: 0rem;
      margin-bottom: 1rem;
    }
  
  }
  
  
  /*Mediumonly*/
  
  @media screen and (min-width:40em) and (max-width:63.9375em) {
    .special-project {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .special-project img{
        max-height: 20rem;
    }
    .m-hide {
        display: none;
    }
    .logo{
      left: 1rem;
    }

    .flickr .sub-grid img{
      width: 6rem;
      height: 6rem;
      overflow: hidden;
      object-fit: cover;
    }
  
  
  }
  
  
  /*Largeandup*/
  
  @media screen and (min-width:64em) {
  
    .l-col-2 {
      grid-template-columns: 1fr 1fr;
    }
    .l-col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .l-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .l-col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .l-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    .l-hide{
        display: none;
    }
    .logo{
      left: 6rem;
    }
  }
  
  
  /*Largeonly*/
  
  @media screen and (min-width:64em) and (max-width:74.9375em) {

  }
  
  
  
  
  /* ==========================================================================
     MODULES
     ========================================================================== */
  
  
  
  
  
  
  
  
  
     /* ==========================================================================
     THEME
     ========================================================================== */
  
    .page__slider {
        background-color: rgb(230, 230, 230);
    }

    .page_slider_buttons{
      display: flex;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      justify-content: space-between;
      align-items: center;
    }

    .page_slider_button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      border: solid white 0.3rem;
      border-radius: 20px;
      color: white;
      margin: 1rem;
      font-weight: bolder;
    }

    .project{
        margin: 0;
        position: relative;   
    }
    
    .project__caption{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #19b2de;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .project-header{
      margin: 0rem;
      color: white;
      font-size: 1.6rem;
      font-weight: 500;
    }

    .project-text{
      margin: 0;
      color: white;
    }

    .project__caption img{
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }

    .project__caption_content{
      margin: 0.3rem 1rem 0.5rem;
    }
    .project_date{
      display: flex;
      position: absolute;
      z-index: 1;
      top: 0;
      flex-direction: column;
      background-color: #de6262;
      align-items: center;
      padding: 0.5rem;
    }

    .project_date .project-header{
      margin: 0rem;
      color: white;
      font-size: 1.3rem;
      font-weight: 500;
    }

    .project_date .project-text{
      margin: 0;
      color: white;
      font-size: 0.8rem;
    }

    .page__footer {
        background-color: #16242f;
        color: white;

    }

    .page__footer__intro{
      display: flex;
      align-items: center;
    }

    .page__footer_image img{
      width: 5rem;
      height: 6rem;
    }

    .footer__intro_image{
      border-radius: 50px;
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      object-fit: contain;
      margin-right: 1.5rem;
    }

    .page__footer .row{
        background-image: url(../img/bg_colorbar.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        padding-bottom: 2rem;
    }

    .footer__intro_content h3{
      text-align: left;
    }

    .main-nav__item:nth-child(1) {
        background-color: #25c389;
        background-image: url(../img/icon/circle.svg), url(../img/icon/bullhorn.svg);
    }
    .main-nav__item:nth-child(2) {
        background-color: #ffb901;
        background-image: url(../img/icon/circle.svg), url(../img/icon/bullhorn.svg);
    }
    .main-nav__item:nth-child(3) {
        background-color: #de6262;
        background-image: url(../img/icon/circle.svg), url(../img/icon/bullhorn.svg);
    }
    .main-nav__item:nth-child(4) {
        background-color: #1691bd;
        background-image: url(../img/icon/circle.svg), url(../img/icon/bullhorn.svg);
    }
    .main-nav__item:nth-child(5) {
        background-color: #166ba2;
        background-image: url(../img/icon/circle.svg), url(../img/icon/envelope.svg);
    }
    em{
      font-style: normal;
      color: #1691bd;
    }
    .inverted{
      margin-bottom: 0.2rem;
    }

    .twts__item a{
      color: #1691bd;
      font-weight: bolder;
    }
    .twts{
      
      list-style-image: url(../img/icon-twitter-rd.png);
    }


  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  